onjuino/build/esp32.esp32.esp32s3/onjuino.ino.bin
onjuino/build/esp32.esp32.esp32s3/onjuino.ino.bootloader.bin
onjuino/build/esp32.esp32.esp32s3/onjuino.ino.elf
onjuino/build/esp32.esp32.esp32s3/onjuino.ino.map
onjuino/build/esp32.esp32.esp32s3/onjuino.ino.merged.bin
onjuino/build/esp32.esp32.esp32s3/onjuino.ino.partitions.bin
